.about-sec{
    text-align: center;
    
}

.about-sec img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid yellow;
}

.about-sec article{
    padding: 25px;
    font-family: 'Quattrocento', serif;
    font-size: 1.5em;
    background-color: rgba(241, 247, 248, 0.1);
    border-radius: 5px;
}