.header{
   background-color: #333;
   padding-top: 20px;
   /* display: relative; */
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}

.brand-title{
    font-size: 1.5rem;
    margin: .5em;
    display: absolute;
   
}



.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-links ul li {
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}


.navbar-links li:hover{
    background-color: grey;
}

.toggle-button{
    position: absolute;
    /* top: 10px;
    right: 10px; */
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
  

}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
}


@media (max-width: 600px){

    .toggle-button{
        display: flex;
        top: 10px;
        right: 10px;

    }
    .navbar-links{
        display: none;
       
    }

    .navbar-toggle-div{
        width: 100%;
        
    }

    .navbar-links ul{
        width: 100%;
        display: block;
    
    }

    .navbar-links ul li {
        margin-bottom: 5px;
        text-align: center;
    }

    .navbar{
        flex-direction: column;
        align-items: center;
        

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        
    }

    .navbar-links ul li a {
        padding: .5rem 1rem
        
    }

    .navbar-links.active{
        display: flex;
    }







}