.project-sec div{
    padding: 7px;
    background-color: rgba(47, 131, 180, 0.2);
    margin: 10px;
    box-shadow: 0 5px 4px 0 #585c5f;
    border-radius: 5px;
}

.project-sec div figure{
    display: flex;
    
    
}

.project-sec div figure ul li{
    list-style: none;
    
}

.project-sec div img {
 max-width: 190px;
 margin: 10px;

}


.project-link {
    margin-top: 10px;
    padding: 10px;
}


.project-sec .project-link a { 
    padding: 5px;
    margin: 10px;
    background-color: #00a2ff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: 0 5px 5px 0 #797c7e;

}


.project-sec .project-link a:hover { 
    background-color: #10f523;
   

}




@media(max-width: 1000px){
    .project-sec div figure{
        display: block;
        
    }

}

