* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width:100%;
    background-color: rgb(121, 164, 189);
}


#container {
    display: grid;
    height: 100vh;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 200px;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
}



.header{
    grid-area: header;
    background-color: aquamarine;
}


.main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr 300px 300px 300px;
    grid-template-areas: 
    "introduction"
    "projects"
    "skills"
    "about"
    "resume";
    background-color: blueviolet;



}


.intro-sec{
    grid-area: introduction;

}

.project-sec{
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 200px;
}

.skill-sec{
    grid-area: skills;
}

.about-sec{
    grid-area: about;
}

.resume-sec{
    grid-area: resume;
}






.project-sec div{
    padding: 100px;
    background-color: blanchedalmond;
    margin: 10px;
}




/* footer style from main grid */
.footer{
    grid-area: footer;
    background-color: black;
}
